<div class="row menu-item">
  <div class="col-lg-12">
    <div class="row dish">
      <div class="col-xs-10 name"><%= menu_item.name %></div>
      <div class="col-xs-2 price"><%= number_to_currency(menu_item.price) %></div>
    </div>
    <div class="row dish">
      <div class="col-xs-12 description"><%= menu_item.description %></div>
    </div>
  </div>
</div>
